.menu{
    /* background-color: white; */
    /* position:fixed; */
    width:200px;
    /* top:200px; */
    left:15px;
    z-index:1;
    /* display: flex;
    flex-direction: column; */
    /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px; */
    height: 150px;
}
.menu h3{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-weight: bold;
}
.menu_row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu__row-a button{
    background-color: white;
    font-size: 15px;
    width:15px;
    height: 12px;
    border:none;
}
.menu__row-a{
    height: 42px;
    margin-top:5px;
    display: flex;
    justify-content: flex-start;
    margin-left :20px;
    /* background-color: rgba(0,0,0,0.2); */
}
.menu__row-a a{
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color:black;
    /* text-transform: uppercase; */
    text-align: center;
    /* font-weight: bold; */
    margin-top:5px;
}
