.option{
    width:400px;
    height: 620px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    /* background-color: linear-gradient(to bottom, #ffffff31, #ffeeee31); */
}
.check{
    display: flex;
    align-items: center;
}
.showButton{
    width:20px;
    height: 80px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(26, 26, 26);
    color:white;
}
.showButton:hover,.showButton:focus{
    background-color: rgba(0,0,0,0.3);
    outline:none;
}
.buttonUp{
    top:0;
    left:0;
    width:80px;
    height: 20px;
}
.outer__box{
    /* background-color: linear-gradient(to bottom, #ffffff31, #ffeeee31); */
    /* background-color: bisque; */
    background-color: rgba(219, 219, 219, 0.6);
    border-radius: 15px;
}
/* .showing{
    display:block;
} */

.parent{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows:  400px 100px ;
    box-sizing: border-box;
    justify-content: space-between;
    
    padding:10px 5px;
    /* align-items: center; */
    /* align-items: center; */
    /* position:relative; */
}
.TodoList,.FinishList {
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 15px;
    margin:0;
    width:400px;
    
}
.TodoList span h3,.FinishList span h3{
   margin:10px 5px;
   font-size: 20px;
   font-family: 'Indie Flower', cursive;
 }
.form__todo input{
    background-color: transparent;
    border-radius: 20px;
    width:350px;
    height: 50px;
    text-align: center;
    border-color:rgba(0,0,0,0.05);
    color:black;
}
.form__todo input::placeholder{
    color:rgba(0,0,0,0.5);
    font-size:20px;
    font-family: 'Indie Flower', cursive;
}
.form__todo input:focus{
    outline:none;
}
.form__todo input:focus::placeholder{
    color:transparent;
}
.form__todo{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.Todo__input{
    display: flex;
    align-content: center;
    justify-content: center;
}

.TodoProblem,.FinishProblem{
    padding:0 25px;
}
.TodoProblem li,.FinishProblem li{
    font-size:15px;
    margin-bottom: 5px;
    font-family: 'Padauk', sans-serif;
}


.TodoProblem li button,.FinishProblem li button{
    margin-left : 8px;
    width:25px;
    height: 25px;
    font-size: 10px;
    border-radius: 10px;
    background-color: white;
}