.SearchResult,.BaekJoonGroup{
    width:850px;
    /* left:30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    left:400px;
    position: absolute;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
}

.SearchResult h1,.BaekJoonGroup h1{
    font-size:35px;
    margin-bottom: 15px;
}
.SearchResult h3,.BaekJoonGroup h3{
    font-size: 15px;
    margin-bottom: 40px;
}
.Result-main{
    position: relative;
}
.Result-main .menu,.Result-main .option{
    position: fixed;
}
.Result-main .option{
    right:5px;
}