.status-bar{
    position: fixed;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    padding: 10px;
    /* background-color: rgb(253, 253, 246); */
    /* color:white; */
}
.clock{
    display: flex;
    font-family: 'Jura', sans-serif;
}
.status-bar h1{
    font-size: 20px;
    margin-right: 30px;
}
.status-bar h3 {
    font-size: 15px;
}
.website__icon{
    /* background-color: rgba(0,0,0,0.1); */
    border-radius: 15px;
    width:150px;
    display: flex;
    justify-content: space-between;
    padding : 0 10px;
    
}
.website__icon img{
    width:40px;
    height: 40px;
    border-radius: 13px;
    margin-right:10px;
    border:1px solid rgba(0,0,0,0.2);
}

.BGM__button{
    background-color: white;
    border:none;
}
.BGM__button:focus{
    outline:none;
}
.BGM__button i{
    font-size:20px;
}
