.status-bar{
    position: fixed;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    padding: 10px;
}
.clock{
    display: flex;
}
.status-bar h1{
    font-size: 20px;
    margin-right: 30px;
}
.status-bar h3 {
    font-size: 15px;
}
.website__icon img{
    width:40px;
    height: 40px;
    border-radius: 13px;
    margin-right:10px;
}

.BGM__button{
    background-color: white;
    border:none;
}
.BGM__button:focus{
    outline:none;
}
.BGM__button i{
    font-size:20px;
}
