
/* @import "status-bar.css";
@import "menu.css";
@import "option.css";
@import "main_img.css";
@import "search_main.css";
@import "result-main.css"; */

h1{
    font-size: 40px;
}
body{
    background-color: white;
    height: 100vh;
    box-sizing: border-box;
}
button{
    border-radius: 10px;
}

.main, .searchPage-main,.Result-main{
    position: absolute;
    width: 100%;
    top:200px;
    height: 1000px;
    display:flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: center; */
}


section{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(6, 1fr);
}