@import "background.css";
@import "status-bar.css";
@import "menu.css";
@import "option.css";
@import "main_img.css";
@import "search_main.css";
@import "result-main.css";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jura:wght@300;400;600&family=Padauk&display=swap');
h1{
    font-size: 40px;
}
body{
    background-color: white;
    height: 100vh;
    box-sizing: border-box;
}
.hide{
    display: none;
    width:0;
    
}
button{
    border-radius: 10px;
}

.main, .searchPage-main,.Result-main{
    position: absolute;
    width: 100%;
    top:200px;
    height: 1000px;
    display:flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: center; */
}


section{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(6, 1fr);
    /* grid-auto-columns: repeat(6); */
}

.groupSection{
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
}