<!DOCTYPE html>
<html>
  <head>
    <title>Algorithm Search</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
  </head>
  <body >
    <div class="status-bar">
      <div class="clock">
        <h1></h1>
        <h3></h3>
      </div>
      <div class="website__icon">
        <a href="Search_Baekjoon">BaekJoon Searching</a>
        <a href="Search_Algospot">Algospot Searching</a>
      </div>
    </div> 
     
    <!-- <h1>BaekJoon Search</h1>
    <form action="/baekjoon" method="get">
      <input
        type="text"
        placeholder="Search for a Algorithm?"
        required
        name="Algorithm__baekjoon"
      />
      <button>Search</button>
    </form>
    <h1>Algospot Search</h1>
    <form action="/algospot" method="get">
      <input
        type="text"
        placeholder="Search for a Algorithm?"
        required
        name="Algorithm__algospot"
      />
      <button>Search</button>
    </form> -->
    <script src="{{url_for('static', filename='JavaScript/time.js') }}"></script>
  </body>
</html>
