<!DOCTYPE html>
<html>
  <head>
    <title>Algorithm Search</title>
  </head>
  <body>
    <h1>BaekJoon Search</h1>
    <form action="/baekjoon" method="get">
      <input
        type="text"
        placeholder="Search for a Algorithm?"
        required
        name="Algorithm__baekjoon"
      />
      <button>Search</button>
    </form>
    <h1>Algospot Search</h1>
    <form action="/algospot" method="get">
      <input
        type="text"
        placeholder="Search for a Algorithm?"
        required
        name="Algorithm__algospot"
      />
      <button>Search</button>
    </form>
  </body>
</html>
