<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/status-bar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main_img.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/option.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/result-main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/search_main.css')}}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Search! Algospot</title>
</head>
<body>
  <div class="status-bar">
    <div class="clock">
        <h1>18:18</h1>
        <!-- <h3>2021.02.23 wednesday</h3> -->
    </div>
    <div class="BGM">
      <button class="BGM__button">
        <!-- <span>BGM</span> -->
        <i class="fas fa-play fa-lg"></i>
      </button>
    </div>
    <div class="website__icon">
      <a href="https://www.acmicpc.net/" target="_blank"><img src="http://onlinejudgeimages.s3-ap-northeast-1.amazonaws.com/images/boj-og-1200.png" alt="baekjoon"></a>
      <a href="https://algospot.com/" target="_blank"><img src="{{url_for('static', filename='img/알고스팟.PNG') }}" alt=""></a>
      <a href="https://www.google.co.kr/" target="_blank"><img src="{{url_for('static', filename='img/구글.PNG') }}" alt="google"></a>
    </div>
  </div>
  <div class="searchPage-main">
    <div class="menu">
      <h3>Algorithm</h3>
      <div class="menu__row">
        <div class="menu__row-a"><button type="button" onclick="location.href='/'" value="Home">Home</button></div>
        <!-- <div class="menu__row-a"><a href="/" action="/">Home</a></div> -->
        <div class="menu__row-a"><a href="Search_Baekjoon">BaekJoon Searching</a></div>
        <div class="menu__row-a"><a href="Search_Algospot">Algospot Searching</a></div>
        <div class="menu__row-a"><a href="Group">Group Searching</a></div>
      </div>
    </div>
    <div class="searchPage_form">
      <h1>Algospot Search</h1>
      <form action="/algospot" method="get">
        <input
          type="text"
          placeholder="Search for a Algorithm?"
          required
          name="Algorithm__algospot"
        />
        <button>Search</button>
      </form>
    </div>
    <div class="option">
      <div class="outer__box parent">
        <div class="TodoList">
          <span>
            <h3>Problem List</h3>
            <ul class="TodoProblem">

            </ul>
          </span>
        </div>
        <div class="FinishList">
          <span>
            <h3>Finish </h3>
            <ul class="FinishProblem">
            </ul>
          </span>
        </div>
        <div class="Todo__input">
          <form class="form__todo">
            <input type="text" placeholder="Write a Todo">
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='JavaScript/time.js') }}"></script>
  <script src="{{url_for('static', filename='JavaScript/todo.js') }}"></script>
  <script src="{{url_for('static', filename='JavaScript/bgm.js') }}"></script>
    <script src="../static/JavaScript/todo.js"></script>
    <script src="../static/JavaScript/time.js"></script>
    <script src="../static/JavaScript/bgm.js"></script>
    <script
      src="https://kit.fontawesome.com/188f7f5ed5.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>